{% load static %}
<!DOCTYPE html>
<html>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="{% static 'css/base.css' %}" rel="stylesheet">

	<div class="center-column">
			<form method="POST">
				{%csrf_token%}
				{{form.task}}
				<input class="btn btn-info" type="submit" value="Add Task" name="Create Task">
			</form>
		<div class="todo-list">

		{% for a in list %}
			<div class="item-row">

				<a class="btn btn-sm btn-info" href="{% url 'editurl' a.id %}">Edit</a>
				<a class="btn btn-sm btn-danger" href="{% url 'deleteurl' a.id %}">Delete</a>
				
				{% if a.complete == True %}
				<strike>{{a}}</strike>
				{% else %}
				<span>{{a}}</span>
				{% endif %}
			</div>
		{%endfor%}
		</div>
	</div>
	
</html>